/* Style for the body and HTML */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Center the text vertically and horizontally */
.centered-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style for the centered text */
.centered-text h1 {
  font-size: 24px;
  margin: 0;
}

.filter-select,
.filter-button {
    font-size: 14px;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
}

#next_games th {
  background-color: #f2f2f2;
}


