{% extends 'base.html' %}

{% block head %}

<head>
  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
  

  <!-- Include DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>

  <!-- DataTables Select extension CSS and JS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
  <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
  
  <title>Your Stock Table</title>
  
  <style>

    
    /* Reduce font size */
    table#next_games th,
    table#next_games td {
      font-size: 12px;
    }

    /* Trim cell padding */
    table#next_games td {
      padding: 4px;
    }
    
    /* Adjust column width */
    table#next_games th,
    table#next_games td {
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    
    /* Remove unnecessary space */
    table#next_games td {
      border-collapse: collapse;
      border-spacing: 0;
    }

    /* Style for the filter container */
    .filter-container {
      margin: 0px 50px;
      margin-left: 65px;
      text-align: left;
      margin-right: 10px;
    }


    /* Adjust the font size and styling for the "Showing X to Y of Z entries" info */
    div.dataTables_info {
      font-size: 15px; /* Adjust the font size as needed */
      padding: 4px 0; /* Adjust the padding as needed */
    }    

    /* Adjust the font size and padding for the search box */
    div.dataTables_filter input {
      font-size: 12px; /* Adjust the font size as needed */
      padding: 4px;
      margin-bottom: 5px;
    }  

    /* Adjust spacing between "Show [X] entries" and filter */
    .dataTables_length {
      display: flex;
      align-items: center;
      margin-top: -5px; /* Adjust the negative margin as needed */
    }

    .dataTables_length label {
      white-space: nowrap; /* Prevent line break within the label */
      margin-right: 10px; /* Adjust the margin as needed */
    }

    .dataTables_length select {
      width: 80px; /* Adjust the width as needed */
    }

    /* Adjust spacing between "Show [X] entries" and filter */
    div.dataTables_length {
      margin-top: 25px; /* Adjust the negative margin as needed */
    }   

    /* Position the filter group next to the table header */
    .filter-group {
      margin-top: 20px; /* Adjust the margin as needed */
      margin-left: -60px;
    }

    /* Style for the filter container */
    .filter-container {
      display: inline-block;
      margin-right: 10px;
      ; /* Adjust the margin as needed */
    }

    /* Style for the second filter container */
    .second-filter {
      margin-left: 20px; /* Adjust the margin as needed */
    }

    /* Add margin to the right of the table */
    .table-container {
      margin-right: 30px; /* Adjust the margin as needed */
    }

    /* Add more space between the filter and the table */
    #next_games_filter {
      margin-top: 40px; /* Adjust the margin as needed */
    }

    

  </style>    
</head>

{% endblock %}

{% block body %}

<body>
  <div style="margin-top: 20px; margin-left: 60px;">
    <h1>Papéis</h1>

    <div class="filter-group">  

      <div class="filter-container">
        <label for="setorFilter" class="filter-label">Setor:</label>
        <select id="setorFilter" class="filter-select">
            <option value="">Todos</option>
            {% for setor in dataframe['Setor'].unique()|sort %}
              <option value="{{ setor }}">{{ setor }}</option>
            {% endfor %}
        </select>
      </div>

      <div class="filter-container">
        <label for="campeonatoFilter" class="filter-label">Papel:</label>
        <select id="campeonatoFilter" class="filter-select">
            <option value="">Todos</option>
            {% for papel in dataframe['Papel'].unique()|sort %}
              <option value="{{ papel }}">{{ papel }}</option>
            {% endfor %}
        </select>
      </div>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
        Open Filters
      </button>
  </div>

  <div class="table-container">
    <table id="next_games" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          {% for column in dataframe.columns %}
            <th {% if column == 'P/L' %}class="pl-column"{% endif %}>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for index, row in dataframe.iterrows() %}
        {% set color = loop.cycle('#f8f9fa', '#e9ecef') %}
        <tr style="background-color: {{ color }};">
          {% for column, value in row.items() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <!-- First column -->
              <div class="form-group">
                <label for="plFilter" class="filter-label">P/L (<strong>menor</strong> que):</label>
                <input type="text" id="plFilter" class="form-control filter-input" placeholder="ex: 10">
              </div>
              <div class="form-group">
                <label for="evEbitdaFilter" class="filter-label">EV/EBITDA (<strong>menor</strong> que):</label>
                <input type="text" id="evEbitdaFilter" class="form-control filter-input" placeholder="ex: 10">
              </div>
              <div class="form-group">
                <label for="pvpFilter" class="filter-label">P/VP (<strong>menor</strong> que):</label>
                <input type="text" id="pvpFilter" class="form-control filter-input" placeholder="ex: 2">
              </div>
              <div class="form-group">
                <label for="roeFilter" class="filter-label">ROE (<strong>maior</strong> que):</label>
                <input type="text" id="roeFilter" class="form-control filter-input" placeholder="ex: 15">
              </div>
              <!-- Add more filters to the first column as needed -->
            </div>
            <div class="col-md-6">
              <!-- Second column -->
              <div class="form-group">
                <label for="divyieldFilter" class="filter-label">Div. Yield (<strong>maior</strong> que):</label>
                <input type="text" id="divyieldFilter" class="form-control filter-input" placeholder="ex: 7">
              </div>
              <div class="form-group">
                <label for="crescrecFilter" class="filter-label">Cresc. Rec.5a (<strong>maior</strong> que):</label>
                <input type="text" id="crescrecFilter" class="form-control filter-input" placeholder="ex: 10">
              </div>
              <div class="form-group">
                <label for="divbrutpatrimFilter" class="filter-label">Dív.Brut/ Patrim. (<strong>menor</strong> que):</label>
                <input type="text" id="divbrutpatrimFilter" class="form-control filter-input" placeholder="ex: 2">
              </div>
              <div class="form-group">
                <label for="patrimliqFilter" class="filter-label">Patrim. Líq (x10⁶)(<strong>maior</strong> que):</label>
                <input type="text" id="patrimliqFilter" class="form-control filter-input" placeholder="ex: 20">
              </div>
              <!-- Add more filters to the second column as needed -->
            </div>
          </div>
        </div>
        <!-- Add more filter options as needed -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="applyFilters">Apply Filters</button>
      </div>
    </div>
  </div>
</div>




  </div>

  

  <script>
  $(document).ready(function () {
    var table;
    var customFilterValue;

    // Initialize DataTable if it hasn't been initialized
    if (!$.fn.DataTable.isDataTable('#next_games')) {
      table = $('#next_games').DataTable({
        "paging": true,
        "searching": true,
        "select": true,
        // Add more options as needed
      });
    } else {
      // DataTable is already initialized, just retrieve the existing instance
      table = $('#next_games').DataTable();
    }
  
      // Apply the custom filter when the "setor" dropdown changes
      $('#setorFilter').on('change', function() {
        var selectedData = $(this).val();
        if (selectedData === "") {
          // Clear the search for the 'setor' column and redraw the table
          table.column(2).search('').draw();
        } else {
          // Apply filter and color highlighting
          table.column(2).search('^' + selectedData + '$', true, false).draw();
          highlightValues(); // Highlight values after filtering
        }
      });
  
      // Apply the custom filter when the "Papel" dropdown changes
      $('#campeonatoFilter').on('change', function() {
        var selectedPapel = $(this).val();
        if (selectedPapel === "") {
          table.column(0).search('').draw();
        } else {
          table.column(0).search(selectedPapel).draw();
        }
        highlightValues(); // Highlight values after filtering
      });
  
      function highlightValues() {
        // Clear all existing background colors and bold styles
        $('tr').find('td').css({
          'background-color': '',
          'font-weight': ''
        });
  
        // Get the data for the visible rows after filtering
        var visibleRowsData = table.rows({ search: 'applied' }).data();
  
        if (visibleRowsData.length > 0) {
          // Highlight the 'P/L' values with a gradient from green to red
          highlight(visibleRowsData, 4); // 4 is the index of 'P/L' column
          highlight(visibleRowsData, 5);
          highlight(visibleRowsData, 6);
          highlightInverse(visibleRowsData, 7);
          highlightInverse(visibleRowsData, 8);
          highlightInverse(visibleRowsData, 9);
          highlightException(visibleRowsData, 10);
          highlightPositiveNegative(visibleRowsData, 11);
        }
      }
  
      function highlight(visibleRowsData, columnIndex) {
        var positiveValues = visibleRowsData.toArray().map(row => parseFloat(row[columnIndex])).filter(value => value > 0);
  
        if (positiveValues.length > 0) {
          // Get the minimum and maximum values for normalization
          var minValue = Math.min.apply(null, positiveValues);
          var maxValue = Math.max.apply(null, positiveValues);
  
          // Identify the cell with the highest 'P/L' value
          var minCell = $('tr').find('td:eq(' + columnIndex + ')').filter(function() {
            return parseFloat($(this).text()) === minValue;
          });
  
          // Iterate through each cell in the 'P/L' column and set the background color based on the simplified scheme
          $('tr').find('td:eq(' + columnIndex + ')').each(function() {
            var cellValue = parseFloat($(this).text());
  
            // Check if the value is positive
            if (cellValue > 0) {
              // Apply the background color based on the simplified scheme
              if (cellValue === minValue) {
                // Lowest positive value: green
                $(this).css('background-color', 'lime');
              } else if (cellValue === maxValue) {
                // Highest positive value: red
                $(this).css('background-color', 'red');
              } else {
                // Other positive values: yellow
                $(this).css('background-color', 'yellow');
              }
            } else {
              // For negative values, color it red
              $(this).css('background-color', 'red');
            }
          });
  
          // Apply bold style to the text in the cell with the highest 'P/L' value
          minCell.css('font-weight', 'bold');
        }
      }
  
      function highlightInverse(visibleRowsData, columnIndex) {
        var values = visibleRowsData.toArray().map(row => parseFloat(row[columnIndex]));
  
        if (values.length > 0) {
          // Filter out NaN values and get the minimum and maximum values
          var minValue = Math.min(...values.filter(value => !isNaN(value)));
          var maxValue = Math.max(...values.filter(value => !isNaN(value) && value > 0));
  
          // Identify the cell with the most negative value
          var maxCell = $('tr').find('td:eq(' + columnIndex + ')').filter(function() {
            return parseFloat($(this).text()) === maxValue;
          });
  
          // Flag to check if there is at least one positive value
          var hasPositiveValues = false;
  
          // Iterate through each cell in the column and set the background color based on the scheme
          $('tr').find('td:eq(' + columnIndex + ')').each(function() {
            var cellValue = parseFloat($(this).text());
  
            if (isNaN(cellValue)) {
              // Handle NaN values (if any)
              $(this).css('background-color', 'transparent');
            } else if (cellValue > 0) {
              // Positive values: color it green or yellow
              hasPositiveValues = true;
              if (cellValue === maxValue) {
                // Highest positive value: green
                $(this).css('background-color', 'lime');
              } else {
                // Other positive values: yellow
                $(this).css('background-color', 'yellow');
              }
            } else {
              // Negative values: color it red
              $(this).css('background-color', 'red');
            }
          });
  
          // Apply bold style to the text in the cell with the most negative value
          maxCell.css('font-weight', 'bold');
  
          // If no positive values, apply bold style to the text in the cell with the most negative value
          if (!hasPositiveValues) {
            minCell.css('font-weight', 'bold');
          }
        }
      }

      function highlightPositiveNegative(visibleRowsData, columnIndex) {

        // Get the data for the visible rows after filtering
        var visibleRowsData = table.rows({ search: 'applied' }).data();

        // Iterate through each cell in the specified column and set the background color based on the value
        $('tr').find('td:eq(' + columnIndex + ')').each(function () {
          var cellValue = parseFloat($(this).text());

          if (!isNaN(cellValue)) {
            // Check if the value is positive or negative and apply the corresponding background color
            if (cellValue >= 0) {
              // Positive values: color it green
              $(this).css('background-color', 'lime');
            } else {
              // Negative values: color it red
              $(this).css('background-color', 'red');
            }
          }
        });
      }
  
      function highlightException(visibleRowsData, columnIndex) {
        var values = visibleRowsData.toArray().map(row => parseFloat(row[columnIndex]));
  
        if (values.length > 0) {
          // Filter out NaN values and get the minimum and maximum values
          var minValue = Math.min(...values.filter(value => !isNaN(value)));
          var maxValue = Math.max(...values.filter(value => !isNaN(value)));
  
          // Identify the cell with the most negative value
          var minCell = $('tr').find('td:eq(' + columnIndex + ')').filter(function() {
            return parseFloat($(this).text()) === minValue;
          });
  
          // Iterate through each cell in the column and set the background color based on the scheme
          $('tr').find('td:eq(' + columnIndex + ')').each(function() {
            var cellValue = parseFloat($(this).text());
  
            if (isNaN(cellValue)) {
              // Handle NaN values (if any)
              $(this).css('background-color', 'transparent');
            } else if (cellValue < 0) {
              // Negative values: color it green
              $(this).css('background-color', 'lime');
            } else if (cellValue === minValue) {
              // Most negative value or lowest positive value: color it green
              $(this).css('background-color', 'lime');
            } else if (cellValue === maxValue) {
              // Highest positive value: color it red
              $(this).css('background-color', 'red');
            } else {
              // Other positive values: color it yellow
              $(this).css('background-color', 'yellow');
            }
          });
  
          // Apply bold style to the text in the cell with the most negative value
          minCell.css('font-weight', 'bold');
        }
      }
  
      // Handle reselecting 'Todos' for 'Setor'
      $('#setorFilter').on('click', function() {
        if ($(this).val() === "") {
          // Clear the search for the 'setor' column and redraw the table
          table.column(2).search('').draw();
          // Clear all existing background colors and bold styles
          $('tr').find('td').css({
            'background-color': '',
            'font-weight': ''
          });
        }
      });

      // Ensure the DataTable is initialized before trying to access it
      $('#filterModal').on('hidden.bs.modal', function () {
      // Initialize DataTable or perform related actions here
      if (!table) {
        table = $('#next_games').DataTable({
          "paging": true,
          "searching": true,
          // Add more options as needed
        });
      }
    });

  // Function to update selection count
  function updateSelectionCount() {
    var selectedRows = table.rows({ selected: true }).count();
    $('#selectionCount').text(selectedRows + ' row selected');
  }

  // Function to update selection count
  function updateSelectionCount() {
    var selectedRows = table.rows({ selected: true }).count();
    $('#selectionCount').text(selectedRows + ' row selected');
  }  

// Apply the custom filter when the "P/L" or "EV/EBITDA" filter is applied
$('#applyFilters').on('click', function () {
  // Get filter values from the 'P/L' and 'EV/EBITDA' filter inputs
  var plFilterValue = $('#plFilter').val();
  var evEbitdaFilterValue = $('#evEbitdaFilter').val();
  var pvpFilterValue = $('#pvpFilter').val();
  var roeFilterValue = $('#roeFilter').val();
  var divyieldFilterValue = $('#divyieldFilter').val();
  var crescrecFilterValue = $('#crescrecFilter').val();
  var divbrutpatrimFilterValue = $('#divbrutpatrimFilter').val();
  var patrimliqFilterValue = $('#patrimliqFilter').val()

  // Parse filter values to floats
  var plCustomFilterValue = parseFloat(plFilterValue);
  var evEbitdaCustomFilterValue = parseFloat(evEbitdaFilterValue);
  var pvpCustomFilterValue = parseFloat(pvpFilterValue);
  var roeCustomFilterValue = parseFloat(roeFilterValue);
  var divyieldCustomFilterValue = parseFloat(divyieldFilterValue);
  var crescrecCustomFilterValue = parseFloat(crescrecFilterValue);
  var divbrutpatrimCustomFilterValue= parseFloat(divbrutpatrimFilterValue);
  var patrimliqCustomFilterValue = parseFloat(patrimliqFilterValue);

  // Destroy the existing DataTable instance (if it exists)
  if ($.fn.DataTable.isDataTable('#next_games')) {
    $('#next_games').DataTable().destroy();
  }

  // Initialize a new DataTable instance
  table = $('#next_games').DataTable({
    "paging": true,
    "searching": true,
    // Add more options as needed
  });

  // Remove existing custom search functions
  while ($.fn.dataTable.ext.search.length > 0) {
    $.fn.dataTable.ext.search.pop();
  }

  // Custom search function to filter 'P/L' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var plValue = parseFloat(rowData[4]); // 4 is the index of 'P/L' column
      return isNaN(plCustomFilterValue) || (plValue <= plCustomFilterValue && plValue > 0);
    }
  );

  // Custom search function to filter 'EV/EBITDA' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var evEbitdaValue = parseFloat(rowData[5]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(evEbitdaCustomFilterValue) || (evEbitdaValue <= evEbitdaCustomFilterValue && evEbitdaValue > 0);
    }
  );

  // Custom search function to filter 'P/VP' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var pvpValue = parseFloat(rowData[6]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(pvpCustomFilterValue) || (pvpValue <= pvpCustomFilterValue && pvpValue > 0);
    }
  );


  // Custom search function to filter 'ROE' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var roeValue = parseFloat(rowData[7]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(roeCustomFilterValue) || (roeValue >= roeCustomFilterValue && roeValue > 0);
    }
  );

  // Custom search function to filter 'Div. Yield' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var divyieldValue = parseFloat(rowData[8]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(divyieldCustomFilterValue) || (divyieldValue >= divyieldCustomFilterValue && divyieldValue > 0);
    }
  );

  // Custom search function to filter 'Cresc. Rec.5a' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var crescrecValue = parseFloat(rowData[9]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(crescrecCustomFilterValue) || (crescrecValue >= crescrecCustomFilterValue && crescrecValue > 0);
    }
  );

  // Custom search function to filter 'DivbrutpatrimC' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var divbrutpatrimValue = parseFloat(rowData[10]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(divbrutpatrimCustomFilterValue) || (divbrutpatrimValue <= divbrutpatrimCustomFilterValue || divbrutpatrimValue < 0);
    }
  );

  // Custom search function to filter 'patrim Liq' values lower than the input
  $.fn.dataTable.ext.search.push(
    function (settings, searchData, index, rowData, counter) {
      var patrimliqValue = parseFloat(rowData[11]); // 5 is the index of 'EV/EBITDA' column
      return isNaN(patrimliqCustomFilterValue) || (patrimliqValue >= patrimliqCustomFilterValue && patrimliqValue > 0);
    }
  );

  
  // Redraw the DataTable to reflect the changes
  table.draw();

  updateSelectionCount(); // Update selection count after filtering
});




  // Handle sorting event to reapply custom filter
  $('#next_games thead').on('click', 'th', function () {
    if (customFilterValue !== undefined) {
      // Reapply the custom filter after sorting
      $.fn.dataTable.ext.search.pop(); // Remove previous custom search function

      $.fn.dataTable.ext.search.push(
        function (settings, searchData, index, rowData, counter) {
          var plValue = parseFloat(rowData[4]); // 4 is the index of 'P/L' column
          return isNaN(customFilterValue) || (plValue < customFilterValue && plValue > 0);
        }
      );
    }
  });

  // Ensure the DataTable is initialized before trying to access it
  $('#filterModal').on('hidden.bs.modal', function () {
    // Initialize DataTable or perform related actions here
    if (!table) {
      table = $('#next_games').DataTable({
        "paging": true,
        "searching": true,
        "select": true,
        // Add more options as needed
      });
    }
  });
});

  
  </script>
  
  
    
  

</body>

{% endblock %}